{% extends "layout.html" %}

{% block content %}
    <div id="mentors">
        <table border="1">
            <tr><th>School Name</th><th>First Name</th><th>Last Name</th></tr>
            {% for item in contacts_data %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                </tr>
            {% endfor%}
        </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}