{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('mentors_and_schools') }}">Mentors and schools</a><br>
    <a href="{{ url_for('mentors_all_school') }}">Mentors and all schools</a><br>
    <a href="{{ url_for('mentors_by_country') }}">Mentors by country</a><br>
    <a href="{{ url_for('contacts') }}">Contacts</a><br>
    <a href="{{ url_for('applicants') }}">Applicants</a><br>
    <a href="{{ url_for('update_and_find_jemima') }}">Update and find Jemima's number</a><br>
    <a href="{{ url_for('delete_mauriseu') }}">Delete all entry's with email ending with @mauriseu.net</a><br>
{% endblock %}