{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('mentor_names') }}">Mentor names</a><br>
    <a href="{{ url_for('mentor_nick_names') }}">Mentor nick names</a><br>
    <a href="{{ url_for('find_carol') }}">Find Carol</a><br>
    <a href="{{ url_for('find_hat_girl') }}">Find hat girl</a><br>
    <a href="{{ url_for('add_and_find_marcus') }}">Add and find Marcus</a><br>
    <a href="{{ url_for('update_and_find_jemima') }}">Update and find Jemima's number</a><br>
    <a href="{{ url_for('delete_mauriseu') }}">Delete all entry's with email ending with @mauriseu.net</a><br>
{% endblock %}