{% extends "layout.html" %}

{% block content %}
    <div id="mentors">
        <table border="1">
            <tr><th>Country</th><th>Mentor Count</th></tr>
            {% for item in mentors_by_country_data %}
                {% set mentor_count = item.mentors|string %}
                <tr>
                    <td>{{ item.country }}</td>
                    <td>{{ mentor_count }}</td>
                </tr>
            {% endfor%}
        </table>
    </div>

    {% include 'footer.html' %}
{% endblock %}